<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snakeroom API</title>
    <style>
        body {
            font-family: monospace;
            font-size: 1.5em;
        }

        div {
            text-align: center;
        }

        h3, small {
            font-style: italic;
            color: #666;
        }

        small {
            font-size: 11px;
        }
    </style>
</head>
<body>
    <div>
        <h1>&#128013; Sidewinder</h1>
        <h3>Snakeroom's API</h3>
        <p>
            If you're interested in poking around our API, come hang out in
            <a href="https://join.snakeroom.org">our Discord!</a>
        </p>
        <a href="https://snakeroom.org">back home</a>
        <p>
            <small>If you're reading this, the API is currently online!</small>
        </p>
    </div>
</body>
</html>